html, body 
{
    margin:0; 
    padding:0; 
    display: flex;
    flex-direction: column; 
}

body
{
    font-family:'Roboto', sans-serif;
}

.header
{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 40px;
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family:'roboto', serif;
}

.header ul
{
    display: flex;
    color: gray;
    font-size: 16px;
    list-style-type: none;
    gap: 16px;
    font-weight: normal;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.content-upper
{ 
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    gap: 72px;
    padding: 60px;
}



.content-upper .head 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-items: flex-start;
    padding: 40px;
}

.content-upper .head .title
{
    font-size: 48px;
    font-weight: 800;

}


.content-upper .head .text, .content-upper .head .title
{
    display: flex;
    max-width: 500px;
    justify-content: center;
}

.content-upper .second-head
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 500px;
    font-size: 18px;

}

.content-upper .head .first{
    background-color: #3882F6;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    border-radius: 4px;

}

.content-lower
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

.content-lower .random
{
    font-size: 24px;
    font-weight: 800;
}


.text-ul ul
{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0; 
    margin: 0;

}
.text-ul ul li
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.text-ul ul li .secondary
{
    
    height: 120px;
    width: 120px;
    border: 2px solid blue;
    border-radius: 10px;
}

.text-ul ul li .textual
{
    display: flex;
    max-width: 120px;
    text-align: center;
}

.quote
{
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px;
}
.quote .quote_text
{
    font-size: 36px;
    font-style: italic;
}

.quote .signature
{
    text-align: right;
    font-weight: 900;

}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button
{
    margin: 100px;
    padding: 25px;
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #3882F6;
}

.button .inner-button button
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid transparent;
    background-color: #3882F6;
    color: white;
}
.button .sign-up-second
{
    display: flex;
    align-items: center;
    background-color: #3882F6;
}
.button .sign-up-second button
{
    background-color: #3882F6;
    border: 2px solid white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    border-radius: 4px;

}

.button .inner-button button .first 
{
    font-weight: 900;

}

.footer 
{
    background-color: #1F2937;
    color: white;
    padding: 40px;
    text-align: center;
}

